.container-fluid{
  padding: 50px;
  padding-top: 64px;
}
.hero-section{
  padding: 300px 50px;
  background-position: left;
  background-image:url('https://cdn.glitch.com/774f67da-7f04-4bcb-b47f-3d6dc10bb0c7%2Faerial-photography-of-stone-building-772700.jpg?v=1590931109086');
  background-size: cover;
  color: white;
  
}
.navbar{
  padding: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: goldenrod;
  background-color: white;
  
}
.wrapper{
  padding: 50px;
}
.col-sm{
  text-align: center;
}
.badge{
  background-color: goldenrod;
  font-size: 110%;

}
h2{
  color: goldenrod;
}
img{border:0;}
.crown{
  height: 20px;
}
.container{
  flex-direction: column;
}